{
  "env": {
    "main": {
      "presets": [
        "es2015"
      ]
    },
    "module": {
      "presets": [
        ["es2015", {"modules": false}]
      ]
    }
  },
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
