.Index {
  text-align: center;
}

.Index-logo {
  animation: Index-logo-spin infinite 20s linear;
  height: 80px;
}

.Index-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Index-intro {
  font-size: large;
}

@keyframes Index-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
